@charset "UTF-8";
.menu {
  box-shadow: none;
  border-bottom: 2px solid #000;
}

#banniere {
  -webkit-animation: revelation 1000ms both ease-in-out !important;
          animation: revelation 1000ms both ease-in-out !important;
}

/*Animation bannière*/
@-webkit-keyframes revelation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes revelation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 !important;
}

.agents {
  background-color: #FFF;
  padding: 50px;
  -webkit-animation: revelationLtoR 1000ms both ease-in-out !important;
          animation: revelationLtoR 1000ms both ease-in-out !important;
}
.agents__title {
  font-family: "Nothing You Could Do", cursive;
  font-size: 3em;
  margin-bottom: 20px;
  text-align: center;
}
.agents__france, .agents__gb {
  border: 1px solid #732237;
  padding: 20px;
  margin-bottom: 20px;
}
.agents__subtitle {
  font-family: "Roboto", "Raleway", Verdana, sans-serif;
  font-size: 1.3em;
  text-transform: uppercase;
}
.agents span {
  font-weight: bold;
}
.agents__mail {
  color: #732237;
}
.agents__mail:hover {
  color: #688486;
  font-weight: bold;
  text-decoration: none;
}

.contact {
  background-color: #749194;
  padding: 60px;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
  -webkit-animation: revelationRtoL 1000ms both ease-in-out !important;
          animation: revelationRtoL 1000ms both ease-in-out !important;
}
.contact__icons {
  width: 60%;
  display: flex;
  justify-content: space-between;
  font-size: 1.7em;
  margin-bottom: 30px;
}
.contact__text {
  text-align: center;
  font-size: 1.2em;
}
.contact__mail {
  color: #000;
  font-size: 4em;
  -webkit-animation: bounce 1s infinite alternate;
          animation: bounce 1s infinite alternate;
}
.contact__mail:hover {
  color: #FFF;
}

/*Animation de l'icône mail qui rebondit*/
@-webkit-keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}
@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}
/* MEDIA QUERIES---------------------------------------------------------------------*/
/* MEDIA QUERIES POUR ADAPTER LE SITE A UN ECRAN TABLETTE------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contact__text {
    font-size: 1.1em;
  }
}
/* MEDIA QUERIES POUR ADAPTER LE SITE A UN ECRAN SMARTPHONE------------------------------------------------*/
@media (min-width: 320px) and (max-width: 768px) {
  .menu {
    box-shadow: #858888 6px 6px 10px;
    border: none;
  }

  #banniere {
    display: none;
    -webkit-animation: none;
            animation: none;
  }

  section {
    flex-direction: column;
    justify-content: flex-start;
  }

  .agents {
    margin: 20px !important;
    padding: 20px !important;
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-animation: revelationUtoD 1000ms both ease-in-out !important;
            animation: revelationUtoD 1000ms both ease-in-out !important;
  }

  .contact {
    margin: 0 !important;
    font-size: 1em;
    padding: 30px;
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-animation: revelationUtoD 1000ms 1500ms both ease-in-out !important;
            animation: revelationUtoD 1000ms 1500ms both ease-in-out !important;
  }
}
/* MEDIA QUERIES POUR ADAPTER LE SITE A UN GRAND ECRAN------------------------------*//*# sourceMappingURL=bargeme-contact.css.map */