$primarycolor: #9fb3b5;
$secondarycolor: #732237; 
$tertiarycolor: rgb(199,198,200);
$boxcolor: #858888;


section {
   width: 80%;
   margin: auto;
}

.accueil {
    background: url("../images/portraitGrand.jpg") no-repeat center;
    padding: 15% 15% 3% 15%;
    margin-bottom: 0;
    animation: revelationDtoU 1000ms both ease-in-out;
    &__text {
        text-align: center;
        margin-bottom: 30%!important;
        color: #FFF;
        font-weight: bold;
    }
    &__btn {
        display: block;
        margin: auto;
        margin-bottom: 100px!important;
        margin-top: 20px;
        width: 150px;
        border: 2px solid black;
        border-radius: 4px;
        padding: 5px 10px!important;
        background-color: $primarycolor;//#FFF;
        color: #000;
        font-size: 16px;
        font-weight: bold;
        transform: scale(1);
        transition: all 500ms ease-in-out;
        text-decoration: none;
        animation: revelationUtoD 1000ms both ease-in-out;
        &:hover {
            transform: scale(1.3);
            color: #FFF!important;
        }
    }
}

.sociallist {
    margin: auto!important;
    width: 30%;
    animation: revelationDtoU 1000ms both ease-in-out;
}


/* MEDIA QUERIES POUR ADAPTER LE SITE A UN ECRAN TABLETTE------------------------------*/

@media screen and (min-width : 768px) and (max-width : 1024px) {
     .accueil {
         padding: 20% 8% 3% 8%;
         margin-top: 50px;
         background-size: cover;
         min-height: 100%;
         &__text {
             font-size: 2.6em;
             margin-bottom: 50%!important;
         }
         &__btn {
             margin-bottom: 100px!important;
             margin-top: 40px;
         }
     }
     
     .sociallist {
         margin-top: 30px!important;
     }   
}

/* MEDIA QUERIES POUR ADAPTER LE SITE A UN ECRAN SMARTPHONE -----------------------------------------------*/

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .accueil {
        padding: 15% 8% 10% 8%;
        &__text {
            & h1 {
                font-size: 2em;
                margin-top: 20px;
            }
            & h2 {
                font-size: 1.3em;
            }
        }
        &__btn {
            margin-bottom: 60px!important;
            margin-top: 380px;
        }
    }
    
    .sociallist {
        margin-top: 15px!important;
        width: 50%;
    }  
}