section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 100px !important;
}

.interets {
  width: 90%;
}
.interets__title {
  font-family: "Nothing You Could Do", cursive;
  font-size: 3em;
  margin-bottom: 50px;
  color: #732237;
}
.interets__img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 300px;
  display: block;
  border: 1px solid #000;
  margin: 20px auto;
}
.interets__text {
  text-align: justify;
}
.interets__liens {
  width: 80%;
  margin: auto;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}
.interets__liens a {
  color: #732237;
  text-align: center;
}
.interets__liens a:hover {
  text-decoration: none;
  color: #858888;
}

.baschet__box, .ela__box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}

.ela {
  background: url("../images/ela3.png") no-repeat;
  background-size: auto 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 70px 10px 10px 0;
  margin-bottom: 50px;
}
.ela__box {
  background-color: rgba(233, 236, 239, 0.9);
  padding: 30px;
  width: 60%;
}

.baschet {
  background: url("../images/baschet2.jpg") no-repeat;
  background-size: auto 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0px 70px 10px;
}
.baschet__box {
  background-color: rgba(233, 236, 239, 0.9);
  padding: 30px;
  width: 60%;
}

/* MEDIA QUERIES---------------------------------------------------------------------*/
/* MEDIA QUERIES POUR ADAPTER LE SITE A UN ECRAN TABLETTE------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  section {
    padding: 60px !important;
  }

  .interets {
    width: 90%;
  }
  .interets__baschet, .interets__ela {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .interets__title {
    font-size: 2.5em;
  }

  .ela, .baschet {
    align-items: center;
    padding: 30px;
    margin-bottom: 50px;
  }
  .ela__img, .baschet__img {
    max-width: 100%;
  }
  .ela__text, .baschet__text {
    max-width: 100%;
  }
  .ela__box, .baschet__box {
    width: 70%;
  }
}
/* MEDIA QUERIES POUR ADAPTER LE SITE A UN ECRAN SMARTPHONE------------------------------------------------*/
@media (min-width: 320px) and (max-width: 768px) {
  body {
    font-size: 0.8em;
  }

  section {
    padding: 20px !important;
  }

  .interets {
    width: 100%;
    padding: 0 !important;
  }
  .interets__baschet, .interets__ela {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .interets__title {
    font-size: 2em;
    margin-top: 30px;
    padding: 10px;
    text-align: center;
  }

  .ela, .baschet {
    align-items: center;
    padding: 30px;
    margin-bottom: 50px;
  }
  .ela__img, .baschet__img {
    max-width: 100%;
  }
  .ela__text, .baschet__text {
    max-width: 100%;
  }
  .ela__box, .baschet__box {
    width: 90%;
  }
}
/* MEDIA QUERIES POUR ADAPTER LE SITE A UN GRAND ECRAN------------------------------*//*# sourceMappingURL=bargeme-interets.css.map */