$primarycolor: #9fb3b5;
$secondarycolor: #732237; 
$tertiarycolor: rgb(199,198,200);
$boxcolor: #858888;

body {
    font-family: "Open Sans", Verdana, Geneva, sans-serif;
    font-size: 0.9em;
}

/* MENU */
header {
    font-family: "Roboto", "Raleway", Verdana, sans-serif;
    background-color: lighten($primarycolor, 10%);
}


.menu {
    box-shadow:$boxcolor 6px 6px 10px;
    &__item {
        margin-top: 70px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        & a { 
            padding: 0!important;
            text-align: center;
            margin-left: 50px;
            color:black!important;
            &:hover{
               color: #FFF!important;
               text-decoration: none;
            }
        }
    }
    &__link {
        font-size: 1.4em!important;
    }
    &__sousmenu a {
        text-align: left;
        margin-left: 10px;
        padding: 0!important;
        text-transform: lowercase;
        font-size: 14px!important;
        &:hover {
            width: 90%;
            background-color: $primarycolor;
        }
    }
    &__img1 {
        display: none;
    }
}


#dropdownMenuMetiers {
    margin-right: 70px;
}

/* RESEAUX SOCIAUX */

.sociallist {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 60%;
    margin: auto;
    margin-top: 30px;
    padding: 0;
    &__social a {
        color: #000!important;
        font-size: 2em;
        &:hover {
            color: #FFF!important;
        }
    }
}

/* FOOTER */

.footer {
    background-color: $secondarycolor;
    color: #FFF!important;
    padding: 20px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__contact {
        width: 30%;
        font-size: 1em;
        padding-left: 10px;
        & li, a {
            list-style-type: none;
            color: #FFF!important;
            margin-left: 0;
            padding-left: 0;
            font-style: italic;
            font-size: 1em;
        }
        & a:hover {
            color: $primarycolor!important;
            text-decoration: none
        }
        & i {
            font-size: 1.2em;
        }
    }
    &__social {
        width: 40%;
        max-width: 300px;
    }
    &__agents {
        width: 30%;
        margin: auto!important;
        & h3 {
            font-size: 1.2em;
            color: #000;
        }
        & ul, li, a {
            list-style-type: none;
            color: #FFF!important;
            margin-left: 0;
            padding-left: 0;
            font-style: italic;
        }
        & a:hover {
            text-decoration: none;
            color: $primarycolor!important;
        }
    }
  /*  
    &__copyright {
        margin-top: 20px;
        color: #000;;
        font-style: italic;
        width: 100%;
        border-top: 2px solid #000;
        font-size: 0.8em;
        & span {
            font-family: 'Space Mono', 'Open Sans', Verdana, sans-serif;
        }
    }*/
}

/* MEDIA QUERIES---------------------------------------------------------------------*/

/* MEDIA QUERIES POUR ADAPTER LE SITE A UN ECRAN TABLETTE------------------------------*/

@media screen and (min-width : 768px) and (max-width : 1024px) {
    .menu {
        &__item {
            margin-top: 0px;
            & a { 
                margin-left: 10px!important;
                text-align: left!important;
            }
        }
        &__sousmenu a {
            text-align: left;
            margin-left: 10px!important;
        }
        &__img1 {
            display: block;
        }
        &__img2 {
            display: none;
        }
    }
    .footer {
        padding: 20px 20px;
        &__social {
            max-width: 200px;
        }
        &__contact a, &__agents a {
            font-size: 0.9em;
        }
    }
}

/* MEDIA QUERIES POUR ADAPTER LE SITE A UN ECRAN SMARTPHONE------------------------------------------------*/

@media (min-width: 320px) and (max-width: 768px) {
    .menu {
        &__item {
            margin-top: 0px;
            font-size: 15px;
            & a { 
                margin-left: 10px!important;
                text-align: left!important;
            }
        }
        &__sousmenu a {
            font-size: 10px;
            text-align: left;
            margin-left: 10px!important;
        }
        &__img1 {
            display: block;
        }
        &__img2 {
            display: none;
        }
    }
    .footer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center!important;
    &__contact, &__social, &__agents {
        width: 50%;
    }
    &__social {
        margin-bottom: 30px;
    }
  }
}
 

/* MEDIA QUERIES POUR ADAPTER LE MENU A UN ECRAN SMARTPHONE DE PETITE TAILLE------------------------------------------------*/

@media (min-width: 320px) and (max-width: 500px) {
    .footer {
        &__contact, &__social, &__agents {
            width: 80%;
        }
      }
}


/* MEDIA QUERIES POUR ADAPTER LE SITE A UN GRAND ECRAN------------------------------*/

@media screen and (min-width : 1366px) {

}